.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.audioDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-width: 0 0 1px 0;
    padding-bottom: 20px;
    height: 136px;
    width: 550px;
    margin-top: 20px;
}

.nowPlaying {
	width: 550px;
	height: 20px;
	overflow: hidden;
	display: inline-block;
}

.searchForm {
	margin-top: 20px;
}

.searchInput {
	width: 310px;
	padding-left: 10px;
}

.searchResultsDiv {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 550px;
	border: 1px solid gray;
	border-width: 1px 0 0 0;
}

.grid {
	width: 550px;
	display: flex;
	flex-wrap: wrap;
}

.trackContainer {
	width: 100px;
	height: 200px;
	margin-right: 10px;
}

.songTitle {
    text-align: center;
    color: darkblue;
    font-size: 12px;
    height: 57px;
    overflow: hidden;
}

.poweredByDiv {
	height: 60px;
}

.userName {
	text-align: center;
}

.userNameLink {
	text-decoration: none;
	font-size: 10px;
}